Package                            Version
---------------------------------- --------------------
absl-py                            1.0.0
aiohttp                            3.8.1
aiosignal                          1.2.0
alabaster                          0.7.12
albumentations                     1.1.0
anaconda-client                    1.9.0
anaconda-navigator                 2.1.1
anaconda-project                   0.10.1
anyio                              2.2.0
apache-beam                        2.37.0
apex                               0.1
appdirs                            1.4.4
argh                               0.26.2
argon2-cffi                        20.1.0
arrow                              0.13.1
asn1crypto                         1.4.0
astroid                            2.6.6
astropy                            4.3.1
astunparse                         1.6.3
async-generator                    1.10
async-timeout                      4.0.2
atomicwrites                       1.4.0
attrs                              21.2.0
autopep8                           1.6.0
avro-python3                       1.10.2
Babel                              2.9.1
backcall                           0.2.0
backports.functools-lru-cache      1.6.4
backports.shutil-get-terminal-size 1.0.0
backports.tempfile                 1.0
backports.weakref                  1.0.post1
beautifulsoup4                     4.10.0
binaryornot                        0.4.4
bitarray                           2.3.0
bkcharts                           0.2
black                              19.10b0
bleach                             4.0.0
blobfile                           1.2.9
bokeh                              2.4.1
boto                               2.49.0
Bottleneck                         1.3.2
brotlipy                           0.7.0
build                              0.9.0
cached-property                    1.5.2
cachetools                         5.0.0
certifi                            2021.10.8
cffi                               1.14.6
chardet                            4.0.0
charset-normalizer                 2.0.4
click                              8.0.3
clipboard                          0.0.4
cloudpickle                        2.0.0
clyent                             1.2.2
colorama                           0.4.4
commonmark                         0.9.1
conda                              4.11.0
conda-build                        3.21.5
conda-content-trust                0+unknown
conda-pack                         0.6.0
conda-package-handling             1.7.3
conda-repo-cli                     1.0.4
conda-token                        0.3.0
conda-verify                       3.4.2
contextlib2                        0.6.0.post1
contourpy                          1.0.6
cookiecutter                       1.7.2
crcmod                             1.7
cryptography                       3.4.8
customtkinter                      4.6.3
cycler                             0.10.0
Cython                             0.29.24
cytoolz                            0.11.0
daal4py                            2021.3.0
DALL-E                             0.1
darkdetect                         0.7.1
dask                               2021.10.0
debugpy                            1.4.1
decorator                          5.1.0
defusedxml                         0.7.1
deprecation                        2.1.0
dicttoxml                          1.7.4
diff-match-patch                   20200713
dill                               0.3.1.1
distributed                        2021.10.0
distro                             1.8.0
dm-tree                            0.1.6
docopt                             0.6.2
docutils                           0.17.1
entrypoints                        0.3
et-xmlfile                         1.1.0
example-package-lucas-enkrateia    0.0.1
fastavro                           1.4.10
fastcache                          1.1.0
filelock                           3.3.1
flake8                             3.9.2
Flask                              1.1.2
flatbuffers                        2.0
fonttools                          4.25.0
frozenlist                         1.3.0
fsspec                             2021.8.1
future                             0.18.2
gast                               0.4.0
gevent                             21.8.0
gin-config                         0.5.0
glob2                              0.7
gmpy2                              2.0.8
google-api-core                    2.7.1
google-api-python-client           2.43.0
google-auth                        2.6.0
google-auth-httplib2               0.1.0
google-auth-oauthlib               0.4.6
google-pasta                       0.2.0
google-search-results              2.4.1
googleapis-common-protos           1.56.0
greenlet                           1.1.1
grpcio                             1.43.0
h5py                               3.3.0
hdfs                               2.7.0
HeapDict                           1.0.1
html5lib                           1.1
httplib2                           0.19.1
idna                               3.2
imagecodecs                        2021.8.26
imageio                            2.9.0
imagesize                          1.2.0
importlib-metadata                 4.8.1
inflection                         0.5.1
iniconfig                          1.1.1
install                            1.3.5
intervaltree                       3.1.0
ipykernel                          6.4.1
ipython                            7.29.0
ipython-genutils                   0.2.0
ipywidgets                         7.6.5
isort                              5.9.3
itsdangerous                       2.0.1
jdcal                              1.4.1
jedi                               0.18.0
jeepney                            0.7.1
Jinja2                             2.11.3
jinja2-time                        0.2.0
joblib                             1.1.0
Json2PascalVoc                     1.0.5
json5                              0.9.6
jsonschema                         3.2.0
jupyter                            1.0.0
jupyter-client                     6.1.12
jupyter-console                    6.4.0
jupyter-contrib-core               0.4.2
jupyter-contrib-nbextensions       0.5.1
jupyter-core                       4.8.1
jupyter-highlight-selected-word    0.2.0
jupyter-latex-envs                 1.4.6
jupyter-nbextensions-configurator  0.6.1
jupyter-server                     1.4.1
jupyter-to-medium                  0.2.10
jupyterlab                         3.2.1
jupyterlab-pygments                0.1.2
jupyterlab-server                  2.8.2
jupyterlab-widgets                 1.0.0
kaggle                             1.5.12
keras                              2.11.0
keras-cv                           0.3.4
Keras-Preprocessing                1.1.2
keyring                            23.1.0
kiwisolver                         1.3.1
labelImg                           1.8.6
lazy-object-proxy                  1.6.0
libarchive-c                       2.9
libclang                           13.0.0
llvmlite                           0.37.0
locket                             0.2.1
lvis                               0.5.3
lxml                               4.6.3
Markdown                           3.3.6
MarkupSafe                         1.1.1
matplotlib                         3.6.2
matplotlib-inline                  0.1.2
mccabe                             0.6.1
mediapipe                          0.8.7
mido                               1.2.10
mindee                             3.0.0
mistune                            0.8.4
mkl-fft                            1.3.1
mkl-random                         1.2.2
mkl-service                        2.4.0
mltype                             0.1.1
mock                               4.0.3
more-itertools                     8.10.0
mpmath                             1.2.1
msgpack                            1.0.2
multidict                          6.0.2
multipledispatch                   0.6.0
munkres                            1.1.4
mypy                               0.942
mypy-extensions                    0.4.3
navigator-updater                  0.2.1
nbclassic                          0.2.6
nbclient                           0.5.3
nbconvert                          5.6.1
nbformat                           5.1.3
nest-asyncio                       1.5.1
networkx                           2.6.3
nltk                               3.6.5
nose                               1.3.7
notebook                           6.4.5
numba                              0.54.1
numexpr                            2.7.3
numpy                              1.22.0
numpydoc                           1.1.0
oauth2client                       4.1.3
oauthlib                           3.2.0
object-detection                   0.1
olefile                            0.46
opencv-contrib-python              4.6.0.66
opencv-python                      4.5.1.48
opencv-python-headless             4.5.5.64
openpyxl                           3.0.9
opt-einsum                         3.3.0
orjson                             3.6.7
packaging                          21.0
pandas                             1.3.4
pandocfilters                      1.4.3
parse                              1.19.0
parso                              0.8.2
partd                              1.2.0
path                               16.0.0
pathlib                            1.0.1
pathlib2                           2.3.6
pathspec                           0.7.0
patsy                              0.5.2
pep517                             0.13.0
pep8                               1.7.1
pexpect                            4.8.0
pgi                                0.0.11.2
pickleshare                        0.7.5
pikepdf                            5.6.1
Pillow                             8.4.0
pip                                22.3.1
pkginfo                            1.8.3
pluggy                             0.13.1
ply                                3.11
pockyt                             1.4.6
portalocker                        2.4.0
poyo                               0.5.0
prometheus-client                  0.11.0
promise                            2.3
prompt-toolkit                     3.0.32
proto-plus                         1.20.3
protobuf                           3.19.4
psutil                             5.8.0
ptyprocess                         0.7.0
py                                 1.10.0
py-cpuinfo                         8.0.0
pyarrow                            6.0.1
pyasn1                             0.4.8
pyasn1-modules                     0.2.8
pycocotools                        2.0
pycodestyle                        2.8.0
pycosat                            0.6.3
pycparser                          2.20
pycryptodomex                      3.14.1
pycurl                             7.44.1
pyDeprecate                        0.3.1
pydocstyle                         6.1.1
pydot                              1.4.2
pyerfa                             2.0.0
pyflakes                           2.3.1
Pygments                           2.10.0
PyJWT                              2.1.0
pylint                             2.9.6
pyls-spyder                        0.4.0
pymongo                            3.12.3
pyodbc                             4.0.0-unsupported
pyOpenSSL                          21.0.0
pyparsing                          2.4.7
pyperclip                          1.8.2
PyQt5                              5.15.6
PyQt5-Qt5                          5.15.2
PyQt5-sip                          12.9.1
pyrsistent                         0.18.0
pySecDec                           1.5.5
PySocks                            1.7.1
pytest                             6.2.4
python-dateutil                    2.8.2
python-lsp-black                   1.0.0
python-lsp-jsonrpc                 1.0.0
python-lsp-server                  1.2.4
python-slugify                     5.0.2
pytorch-lightning                  1.4.9
pytz                               2022.6
PyWavelets                         1.1.1
pywebio                            1.5.2
pyxdg                              0.27
PyYAML                             6.0
pyzmq                              22.2.1
QDarkStyle                         3.0.2
qstylizer                          0.1.10
QtAwesome                          1.0.2
qtconsole                          5.1.1
QtPy                               1.10.0
qudida                             0.0.4
readme-renderer                    37.3
regex                              2021.8.3
requests                           2.28.1
requests-oauthlib                  1.3.1
requests-toolbelt                  0.10.1
rfc3986                            2.0.0
rich                               12.6.0
rope                               0.19.0
rsa                                4.8
Rtree                              0.9.7
ruamel-yaml-conda                  0.15.100
sacrebleu                          2.0.0
scikit-image                       0.18.3
scikit-learn                       0.24.2
scikit-learn-intelex               2021.20210714.170444
scipy                              1.7.1
seaborn                            0.11.2
SecretStorage                      3.3.1
Send2Trash                         1.8.0
sentencepiece                      0.1.96
seqeval                            1.2.2
setuptools                         59.5.0
simplegeneric                      0.8.1
singledispatch                     3.7.0
sip                                4.19.13
six                                1.16.0
sniffio                            1.2.0
snowballstemmer                    2.1.0
sortedcollections                  2.1.0
sortedcontainers                   2.4.0
soupsieve                          2.2.1
Sphinx                             4.2.0
sphinxcontrib-applehelp            1.0.2
sphinxcontrib-devhelp              1.0.2
sphinxcontrib-htmlhelp             2.0.0
sphinxcontrib-jsmath               1.0.1
sphinxcontrib-qthelp               1.0.3
sphinxcontrib-serializinghtml      1.1.5
sphinxcontrib-websupport           1.2.4
spyder                             5.1.5
spyder-kernels                     2.1.3
SQLAlchemy                         1.4.22
statsmodels                        0.12.2
sympy                              1.11.1
tables                             3.6.1
tabulate                           0.8.9
TBB                                0.2
tblib                              1.7.0
tensorboard                        2.11.0
tensorboard-data-server            0.6.1
tensorboard-plugin-wit             1.8.1
tensorflow                         2.11.0
tensorflow-addons                  0.16.1
tensorflow-datasets                4.5.2
tensorflow-estimator               2.11.0
tensorflow-hub                     0.12.0
tensorflow-io                      0.24.0
tensorflow-io-gcs-filesystem       0.24.0
tensorflow-metadata                1.7.0
tensorflow-model-optimization      0.7.2
tensorflow-text                    2.8.1
termcolor                          1.1.0
terminado                          0.9.4
testpath                           0.5.0
text-unidecode                     1.3
textdistance                       4.2.1
tf-estimator-nightly               2.8.0.dev2021122109
tf-models-official                 2.8.0
tf-slim                            1.1.0
threadpoolctl                      2.2.0
three-merge                        0.1.1
tifffile                           2021.7.2
tinycss                            0.4
toml                               0.10.2
tomli                              2.0.1
toolz                              0.11.1
torch                              1.9.0
torchmetrics                       0.7.0
torchvision                        0.10.0
tornado                            6.1
tqdm                               4.62.3
traitlets                          5.1.0
twine                              4.0.1
typed-ast                          1.4.3
typeguard                          2.13.3
typing-extensions                  3.10.0.2
ua-parser                          0.10.0
ujson                              4.0.2
unicodecsv                         0.14.1
Unidecode                          1.2.0
uritemplate                        4.1.1
urllib3                            1.26.7
user-agents                        2.2.0
watchdog                           2.1.3
wcwidth                            0.2.5
webencodings                       0.5.1
Werkzeug                           2.0.2
wget                               3.2
wheel                              0.37.0
whichcraft                         0.6.1
widgetsnbextension                 3.5.1
wrapt                              1.12.1
wurlitzer                          2.1.1
xlrd                               2.0.1
XlsxWriter                         3.0.1
xlwt                               1.3.0
xmltodict                          0.12.0
xonsh                              0.13.3
yapf                               0.31.0
yarl                               1.7.2
zict                               2.0.0
zipp                               3.6.0
zope.event                         4.5.0
zope.interface                     5.4.0
